<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="30" class="help-container">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxFlex>
        <h1>- Rules -</h1>
      </div>
      <div fxFlex>
        <ul>
          <li>
            The objective of Sokoban is to take some objects (usually boxes) to
            designated locations by pushing them.
          </li>
          <li>To do this the user moves a man who we call Sokoban.</li>
          <li>Sokoban can move up, down, left and right.</li>
          <li>
            He can't pass through walls or boxes.
          </li>
          <li>He can push only one box at a time (never pull).</li>
          <li>
            At any time a square can only be occupied by one of a wall, box or
            man.
          </li>
          <li>
            Use <b>W</b> key for moving Up, <b>A</b> key for left, <b>S</b> key
            for down and <b>D</b> key for right.
          </li>
        </ul>
      </div>
      <div fxflex>
        <img src="src/assets/game.png" />
      </div>
      <div fxflex>
        <button mat-stroked-button [routerLink]="['/home']">
          Back to Home
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="canvas-container">
    <div fxflex="10">
      <h1>
        Level: <span class="level">{{ id }}</span>
      </h1>
    </div>

    <div fxFlex="10">
      <h3>
        Current Moves: {{ currentMoves }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Target
        Moves:
        {{ targetMoves }}
      </h3>
    </div>

    <div fxFlex="60" [hidden]="hasWon || hasLost">
      <div class="container">
        <div class="row" *ngFor="let row of board; let i = index">
          <div
            class="column"
            [ngStyle]="{ 'background-image': setImage(i, j) }"
            *ngFor="let column of row; let j = index"
          ></div>
        </div>
      </div>
    </div>

    <div fxFlex="40" [hidden]="!hasWon">
     <img class="level-complete" src="src/assets/canvas-images/success.png">
    </div>

    <div fxFlex="40" [hidden]="!hasLost">
      <img class="level-complete" src="src/assets/canvas-images/failed.jpg">
     </div>

    <div fxFlex [hidden]="!hasWon && !hasLost">
      <div class="next-level">
        <button (click)="Navigate()">
          Next Level
        </button>
      </div>
     </div>

     <div fxFlex [hidden]="!hasWon  && !hasLost">
      <div class="retry-level">
        <button (click)="refresh()">
          Retry Level
        </button>
      </div>
     </div>

    <div fxFlex [hidden]="hasWon || hasLost">
      <div class="buttons">
        <button mat-button [routerLink]="['/levels', id-1]" >
          Previous Level
         </button>
        <button mat-button (click)="moveUp()" id="up-button">
          <i class="material-icons">keyboard_arrow_up</i>
        </button>
        <button mat-button (click)="moveDown()" id="down-button">
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
        <button mat-button (click)="moveLeft()" id="left-button">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <button mat-button (click)="moveRight()" id="right-button">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <button mat-button (click)="refresh()">
          <i class="material-icons">cached</i>
        </button>
        
        <button mat-button [routerLink]="['/levels', id+1]" >
         Next Level
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  ><p style="color: white;">Loading...</p></ngx-spinner
>
