<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="container">
  
    
  <div class="game-header">
    <h3 class="logo">Sokoban</h3>
    
  </div>
  <div class="row" *ngFor="let column of board; let i = index;">
    <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
  </div>
<div class="buttons">
  <button mat-button (click)="moveLeft()">
    <i class="material-icons">keyboard_arrow_up</i>
  </button>
  <button mat-button (click)="moveRight()"><i class="material-icons">keyboard_arrow_down</i>
  </button>
  <button mat-button (click)="moveUp()"> <i class="material-icons">keyboard_arrow_left</i></button>
 
  <button mat-button (click)="moveDown()">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>

</div>





