
  .container
  {
    width: 468px;
    position: relative;
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
  }
  .buttons
  {display: flex;
      max-width:250px;
      margin-top: 30%;
      margin-left:100%;
  }
  .row {
    height: 26px;
  }
  
  .column {
    border: 1px solid rgba(97, 131, 138, .1);
    width: 24px;
    height: 24px;
    display: inline-block;
  }

