<div fxLayout="column" class="main-block" fxLayoutAlign="center center">
  <div fxFlex="15">
    <h2>Sokoban<span class="blinking-cursor">|</span></h2>
  </div>
  <div fxFlex="20" class="info-area-container">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="70">
        <p>
          You got some <span id="iq-text"><b>IQ</b></span> ? Try to crush this
          puzzling game!
        </p>
      </div>
      <span id="vert-divider">|</span>
      <div fxFlex="30">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i
        ><a
          href="https://github.com/deepaktiwari88/Sokoban-Angular"
          class="link-github"
          target="_blank"
          >Sokoban-Angular</a
        >
      </div>
    </div>
  </div>
  <div fxFlex="30">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-evenly center"
    >
      <div class="info-block first" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Various Levels</h3>
          <p class="box-description">
            All new levels are added to twist your brain!
          </p>
        </div>
      </div>
      <div class="info-block second" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Clean Minimalist Design</h3>
          <p class="box-description">
            Simple and easy to use design.
          </p>
        </div>
      </div>
      <div class="info-block third" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Play Online and anywhere</h3>
          <p class="box-description">
            You can enjoy this brain game for any time and anywhere.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="35">
    <app-levels></app-levels>
  </div>

  <div class="name-footer">
    <span class="first-bottom"
      >Deepak Tiwari | Arunav Sharma | Madhav Pruthi</span
    >
    <span class="second-bottom">Punjab Engineering College</span>
  </div>
</div>
