<div fxLayout="column" class="main-block" fxLayoutAlign="center center">
  <div fxFlex="15">
    <h2>Sokoban<span class="blinking-cursor">|</span></h2>
  </div>
  <div fxFlex="20" class="info-area-container">
    <p>
      You got some <span id="iq-text"><b>IQ</b></span> ? Try to crush this
      puzzling game!
    </p>
  </div>
  <div fxFlex="30">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="info-block first" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h3>Various Levels</h3>
          <p class="box-description">
            All new levels are added to twist your brain!
          </p>
        </div>
      </div>
      <div class="info-block second" fxFlex>
        <h3>Various Levels</h3>
        <p class="box-description">
          All new levels are added to twist your brain!
        </p>
      </div>
      <div class="info-block third" fxFlex>
        <h3>Various Levels</h3>
        <p class="box-description">
          All new levels are added to twist your brain!
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="35">
    <app-levels></app-levels>
  </div>
</div>