@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$cursor-color: rgb(33, 219, 120);

.main-block {
  height: 100vh;
  background-color: black;
  color: white;
}

h2 {
  color: wheat;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-size: 3rem;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: $cursor-color;
  }
}

.info-block {
  height: 250px;
  width: 250px;
  border-top: white solid 2px;
  border-left: white solid 2px;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  margin: 0px 100px;
  padding: 10px;
}

.first {
  box-shadow: 10px 10px yellow;
}
.second {
  box-shadow: 10px 10px $cursor-color;
}
.third {
  box-shadow: 10px 10px pink;
}

p {
  color: white;
  font-size: 1.3rem;
}

#iq-text {
  color: yellow;
  font-size: 2.5rem;
}

.center-button:hover {
  color: $cursor-color;
}

.center-button {
  font-size: 18px;
}
.info-area-container {
  text-align: center;
}

.box-description {
  font-size: 14px;
  color: grey;
}

.link-github {
  color: grey;
  text-decoration: none;
  margin-left: 10px;
}

#vert-divider {
  color: grey;
  font-size: 2.5rem;
}

.first-bottom {
  color: rgb(26, 223, 213);
  font-size: 1rem;
  letter-spacing: 4px;
}

.second-bottom {
  margin-left: 20px;
  color: rgb(223, 88, 26);
  font-size: 1rem;
  font-weight: bold;
}

.name-footer{
  padding-bottom: 20px;
}
