@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.main-block {
  height: 100vh;
  background-color: black;
}

h2 {
  color: wheat;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-size: 2rem;
}
